*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav{
    background-color:black;
    padding-left: 15px;
    

    
}
li{
    list-style: none;
    padding: 35px;
    color: white;

}
ul{
    display: flex;
    justify-content: space-around;
} */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: black;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    margin-right:20px;
}
a{
    text-decoration: none;
    color: white;
}  
p{
    color: #555;
}
.only{
    width: 80%;
    margin: auto;
    
    
  }
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
  
  
}
.col-4{
    flex-basis: 19%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 0.5s ;
    font-size: small;
    -webkit-box-shadow: 5px 26px 46px -30px rgba(0,0,0,0.41); 
box-shadow: 5px 26px 46px -30px rgba(0,0,0,0.41);
  
}
.fo{
    width: 60%;
}
.fa{
    color: gold;
}
.high{
    padding: 5px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    font-size: 10px;
    border: none;
}
.phone{
    /* box-shadow: 0 0 20px 0px rgba(0,0,0,0.1); */
    /* border-right: 5px solid #1C6EA4;
border-radius: 40px 16px 33px 3px;
 padding-left: 45px;
} */

}
.j{
   float: left;
   margin-right: 15px;
}
.col-4:hover{
 transform: translateY(-50px);
}
.mi{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap;
    justify-content:space-around; */
  
}

body{
    text-align: center;
}
.boy{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/454/829/original/happy-valentine-s-day-sale-banner-or-promotion-on-blue-background-online-shopping-store-with-mobile-credit-cards-and-shop-elements-illustration-free-vector.jpg");
}
/* .poy{
    background-color: blue;
    display: inline-block;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.gidi{
    display: flex;
    justify-content: space-around;
}
.mi{
    float: right;
    padding-right: 150px;
    
}
.ener{
 float: left;
} */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 0;
        left: 0;
        background: wheat;
        width: 100%;
        overflow: hidden;
        transform: max-height 0.5s;
        padding: 0;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
   
}
@media only screen and (max-width:414px){
    nav ul{
        position: absolute;
        top: 0;
        left: 0;
        background: wheat;
        width: 100%;
        overflow: hidden;
        transform: max-height 0.5s;
        padding: 0;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content:space-around;
        
      
    }
    .col-4{
        flex-basis: 25%;
        padding: 10px;
        min-width: 550px;
        margin-bottom: 50px;
        transition:transform 0.5s ;
       
    }
    .phone{
        width: 30px;
    }
    .col-4:hover{
     transform: translateY(-50px);
    }
   
}
.ok{
  
   list-style-type: none;
   background-color: #1C6EA4;
   -webkit-box-shadow: 5px 6px 0px -2px rgba(73,63,255,0.25); 
  box-shadow: 5px 6px 0px -2px rgba(73,63,255,0.25);
 min-width: 200px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;

}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

    